html {
	height:100%;
}

body {
	height:100%;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image:url(../img/denim.png);
	background-repeat:repeat;
}

.container {
	background-image:url(../img/paper.png);
}

a {
	color: #888; text-decoration: none;
}

a:hover {
	color: #8B8878;
}

h3 {
	margin-left: 10px;
}

.header {
	border-bottom: 1px solid #e5e5e5;
	padding-top: 20px;
	padding-bottom: 19px;
	padding-left: 20px;
	padding-right: 27px;
}

.header h3 {
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 35px;
}

.navbar-nav .active, .navbar-nav a:hover {
	background-color: #EDEDED;
	border-radius: 7px;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.footer p {
}

.columns {
	margin: 40px 0;
}

.columns p + h4 {
	margin-top: 28px;
}

.menu-icon {
	font-size: 18px;
}

.social-icon a {
	color: #8B8970;
}

.icon-empty {
	opacity: 0.1;
}

.bg-info, .well {
	width: 300px;
	bottom: 0px;
	color: #666;
	font-size: 0.9em;
	margin: 10px 0px 10px;
	padding: 10px 20px 1px;
	background: #f3f3f3;
	background: rgba(240, 240, 240, 0.7);
}

.well {
	padding: 0px 20px 15px;
}

.well h3 {
	margin-left: 0px;
}

.bg-info div {
	width: 300px;
	margin: 0px auto;
}

.bg-info p {
	margin: 0px 0px 18px;
}

.bq-note {
	background: #f9f9f9;
	border-left: 5px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	font-style:normal;
}

.bq-note h4 {
	font-style: normal;
	font-size: 16px;
	font-weight: bold;
}


.bq-note p {
	display: inline;
	font-style: normal;
}

blockquote {
	font-size: 14px;
	font-style: normal;
}

kbd {
    background-color:#f7f7f7;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    line-height:1.4;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 1px 0 #fff;
    -moz-border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

#wrapper {
	margin: 40px auto;
	margin-left: 10px;
}

@media screen and (max-device-width: 480px) {
	#wrapper { position: relative; left: -3%; }
}

.toc ol {
	list-style:none;
}

.toc ul {
	list-style:none;
}

.toc ol li span {
	display: block;
	float: left;
	width: 37px;
}

.toc ol li {
	clear: both;
	width: 400px;
}

.toc ol li p {
	float: left;
	width: 370px;
	margin: 0;
}

ol:not(.plain) {
	padding: 0px;
	margin: 0px;
	list-style: decimal-leading-zero inside;
	color: #ccc;
	border-top: 1px solid #ccc;
	font-size: 0.9em;
}

ol:not(.plain) li:not(.plain) {
	position: relative;
	margin: 0px;
	padding: 9px 2px 10px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

ol:not(.plain) li:not(.plain) a:not(.plain) {
	display: block;
	text-indent: -3.3ex;
	padding: 0px 0px 0px 20px;
}

.tooltip-inner {
	background-color: #B0C4DE;
	border: 1px solid;
	border-color: black;
	color: black;
	font-size: 14pt;
}

.epigraph {
	padding-left: 200px;
	padding-top: 40px;
	padding-bottom: 20px;
	font-style: italic;
}

.article .epigraph + p:first-letter {
	float: left;
	font-size: 90px;
	line-height: 1;
	margin: 2px 10px 0px 0px;
}

.article p:last-child {
	padding-top: 30px;
	text-align: right;
	/* font-style: italic; */
}

.article h5 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}

