
.icon-home:before { content: '\e800'; } /* '' */
.icon-soundcloud:before { content: '\e801'; } /* '' */
.icon-apple:before { content: '\e802'; } /* '' */
.icon-linux:before { content: '\e803'; } /* '' */
.icon-note-beamed:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-feather:before { content: '\e806'; } /* '' */
.icon-android:before { content: '\e807'; } /* '' */
.icon-vk:before { content: '\e808'; } /* '' */
.icon-windows:before { content: '\e809'; } /* '' */
.icon-email:before { content: '\e80a'; } /* '' */
.icon-github:before { content: '\e80b'; } /* '' */
.icon-github-circled:before { content: '\e80c'; } /* '' */
.icon-lastfm:before { content: '\e80d'; } /* '' */
.icon-tools:before { content: '\e80e'; } /* '' */
.icon-doc-inv:before { content: '\e80f'; } /* '' */
.icon-book:before { content: '\e810'; } /* '' */
.icon-wikipedia:before { content: '\e811'; } /* '' */
.icon-camera:before { content: '\e812'; } /* '' */
.icon-map:before { content: '\e813'; } /* '' */
.icon-rouble:before { content: '\e814'; } /* '' */
.icon-file-pdf:before { content: '\e815'; } /* '' */
.icon-globe:before { content: '\e816'; } /* '' */
.icon-bandcamp:before { content: '\e817'; } /* '' */